@font-face {
    font-family: 'Cormorant Infant';
    src: url('../fonts/CormorantInfant-Bold.eot');
    src: url('../fonts/CormorantInfant-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantInfant-Bold.woff2') format('woff2'),
    url('../fonts/CormorantInfant-Bold.woff') format('woff'),
    url('../fonts/CormorantInfant-Bold.ttf') format('truetype'),
    url('../fonts/CormorantInfant-Bold.svg#CormorantInfant-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/JosefinSans-Regular.eot');
    src: url('../fonts/JosefinSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JosefinSans-Regular.woff2') format('woff2'),
    url('../fonts/JosefinSans-Regular.woff') format('woff'),
    url('../fonts/JosefinSans-Regular.ttf') format('truetype'),
    url('../fonts/JosefinSans-Regular.svg#JosefinSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: url('../fonts/CormorantInfant-Regular.eot');
    src: url('../fonts/CormorantInfant-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CormorantInfant-Regular.woff2') format('woff2'),
    url('../fonts/CormorantInfant-Regular.woff') format('woff'),
    url('../fonts/CormorantInfant-Regular.ttf') format('truetype'),
    url('../fonts/CormorantInfant-Regular.svg#CormorantInfant-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

