@import "./fonts.css";
/*BASIC CONF*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  background: none;
}
/*BASIC CONF*/

/*UNIQUE CONF*/
.grid {
  display: grid;
  &_col {
    &-6 {
      grid-template-columns: 1fr 1fr;
    }
    &-4 {
      grid-template-columns: 1fr 1fr 1fr;
    }
    &-3 {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
.container {
  max-width: 1380px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.h-100 {
  height: 100%;
}
.justify {
  &-between {
    justify-content: space-between;
  }
  &-center {
    justify-content: center;
  }
}
.align {
  &-center {
    align-items: center;
  }
  &-left {
    align-items: flex-start;
  }
}
.btn {
  &_header {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.2px;
    border: 2px solid #E1B168;
    width: 295px;
    height: 73px;

  }
  &_hero {
    width: 230px;
    height: 73px;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #E1B168;
    border: 2px solid #E1B168;
    border-radius: 0;
  }
  &_hollow {

  }
  &_footer {

  }
}
.section {
  &_suptitle {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  &_title {
    font-family: 'Cormorant Infant', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
  }
  &_desc {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
  }
}
/*UNIQUE CONF*/

/*HEADER SECTION*/
.header {
  background: #292E36;
  &_top {
    border-bottom: 2px solid #5C6168;
    & .container {
      padding: 50px 0 50px;
    }
    & .btn_reserv {
      background: #E1B168;
      &:hover {
        transition: 0.6s;
        font-size: 26px;
        background: inherit;
        border: inherit;
        color: #FFFFFF;
        cursor: pointer;
      }
    }
  }
  &_bottom {
    height: 80px;

  }
  &_link {
    text-decoration: none;
    font-family: Josefin Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 60px;
  }
  &_link:hover {
    transition: 0.15s;
    font-size: 22px;
    color: #E1B168;
  }
  & .header_icon {
    display: inline-block;
    margin-left: 21px;
  }
  & .fa-brands {
    color: #FFFFFF;
    font-size: 25px;
    &:hover {
      transition: 0.15s;
      font-size: 30px;
      color: #E1B168;
      cursor: pointer;
    }
  }
}
/*HEADER SECTION*/

/*HERO SECTION*/
.hero {
  background-color: #292E36;
  padding: 40px 40px 0 40px;
  &_title {
    max-width: 470px;
    font-size: 100px;
    line-height: 110px;
    color: #FFFFFF;
    text-transform: none;
  }
  &_desc{
    max-width: 616px;
    color: #FFFFFF;
    margin: 26px 0 35px;
  }
  &_img-border {
    padding: 30px 30px 0 30px;
    position: relative;
    & .hero_img {
      max-width: 595px;
      max-height: 740px;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    & svg {
      position: absolute;
      top: -20px;
      right: -33px;
    }
    & .left-rack {
      position: absolute;
      top: 0;
      left: -30px;
    }
    & .top-rack{
      position: absolute;
      top: -30px;
      left: 0;
    }
    & .right-rack{
      position: absolute;
      top: 0;
      right: -30px;
    }
  }

}
/*HERO SECTION*/

/*DATA SECTION*/
.data {
  background: #FFF8F5;
  & .inform {
    padding: 100px 0 60px;
    & .container {
      height: 84px;
    }
    & .grid {
      grid-column-gap: 15px;
    }
    &_text {
      margin: 4px 0 5px 20px;
    }
    &_title {
      font-family: 'Cormorant Infant', sans-serif;
      font-weight: 400;
      margin-bottom: 5px;
      font-size: 30px;
      line-height: 39px;
      letter-spacing: 0.2px;
      color: #292E36;
    }
    &_desc {
      color: #555555;
    }
  }
  & .story {
    padding: 60px 0 100px;
    &_img {
      max-width: 743px;
      max-height: 519px;
      margin: 25px 45px 25px 0;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &_content {
      padding: 20px 0 53px;
    }
    &_delicious {
      max-width: 559px;
    }
    &_data {
      margin: 5px 0 15px;
      gap: 24px;
    }
    &_title {
      margin-bottom: 15px;
      color: #292E36;
    }
    &_desc {
      color: #555555;
    }
    &_2018 {
      width: 274px;
      height: 156px;
    }
    &_signature {
      max-width: 571px;
      max-height: 161px;
      & .signature_title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #555555;
        margin-bottom: 21px;
      }
      & svg {
        margin-bottom: 3px;
      }
    }
  }
}
/*DATA SECTION*/