@import "./fonts.css";
/*BASIC CONF*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

/*BASIC CONF*/
/*UNIQUE CONF*/
.grid {
  display: grid;
}
.grid_col-6 {
  grid-template-columns: 1fr 1fr;
}
.grid_col-4 {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid_col-3 {
  grid-template-columns: repeat(4, 1fr);
}

.container {
  max-width: 1380px;
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.h-100 {
  height: 100%;
}

.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}
.align-left {
  align-items: flex-start;
}

.btn_header {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.2px;
  border: 2px solid #E1B168;
  width: 295px;
  height: 73px;
}
.btn_section {
  height: 73px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #E1B168;
  border: 2px solid #E1B168;
  border-radius: 0;
}
.btn_hero {
  width: 230px;
}
.btn_menu {
  width: 255px;
}

.section_suptitle {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.section_title {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
}
.section_desc {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

/*UNIQUE CONF*/
/*HEADER SECTION*/
.header {
  background: #292E36;
}
.header_top {
  border-bottom: 2px solid #5C6168;
}
.header_top .container {
  padding: 50px 0 50px;
}
.header_top .btn_reserv {
  background: #E1B168;
}
.header_top .btn_reserv:hover {
  transition: 0.6s;
  font-size: 26px;
  background: inherit;
  border: inherit;
  color: #FFFFFF;
  cursor: pointer;
}
.header_bottom {
  height: 80px;
}
.header_link {
  text-decoration: none;
  font-family: Josefin Sans, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-right: 60px;
}
.header_link:hover {
  transition: 0.15s;
  font-size: 22px;
  color: #E1B168;
}
.header .header_icon {
  display: inline-block;
  margin-left: 21px;
}
.header .fa-brands {
  color: #FFFFFF;
  font-size: 25px;
}
.header .fa-brands:hover {
  transition: 0.15s;
  font-size: 30px;
  color: #E1B168;
  cursor: pointer;
}

/*HEADER SECTION*/
/*HERO SECTION*/
.hero {
  background-color: #292E36;
  padding: 40px 40px 0 40px;
}
.hero_title {
  max-width: 470px;
  font-size: 100px;
  line-height: 110px;
  color: #FFFFFF;
  text-transform: none;
}
.hero_desc {
  max-width: 616px;
  color: #FFFFFF;
  margin: 26px 0 35px;
}
.hero_img-border {
  padding: 30px 30px 0 30px;
  position: relative;
}
.hero_img-border .hero_img {
  max-width: 595px;
  max-height: 740px;
}
.hero_img-border .hero_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero_img-border svg {
  position: absolute;
  top: -20px;
  right: -33px;
}
.hero_img-border .left-rack {
  position: absolute;
  top: 0;
  left: -30px;
}
.hero_img-border .top-rack {
  position: absolute;
  top: -30px;
  left: 0;
}
.hero_img-border .right-rack {
  position: absolute;
  top: 0;
  right: -30px;
}

/*HERO SECTION*/
/*DATA SECTION*/
.data {
  background: #FFF8F5;
}
.data .inform {
  padding: 100px 0 60px;
}
.data .inform .container {
  height: 84px;
}
.data .inform .grid {
  grid-column-gap: 15px;
}
.data .inform_text {
  margin: 4px 0 5px 20px;
}
.data .inform_title {
  font-family: "Cormorant Infant", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: 0.2px;
  color: #292E36;
}
.data .inform_desc {
  color: #555555;
}
.data .story {
  padding: 60px 0 100px;
}
.data .story_img {
  max-width: 743px;
  max-height: 519px;
  margin: 25px 45px 25px 0;
}
.data .story_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.data .story_content {
  padding: 20px 0 53px;
}
.data .story_delicious {
  max-width: 559px;
}
.data .story_data {
  margin: 5px 0 15px;
  gap: 24px;
}
.data .story_title {
  margin-bottom: 15px;
  color: #292E36;
}
.data .story_desc {
  color: #555555;
}
.data .story_2018 {
  width: 274px;
  height: 156px;
}
.data .story_signature {
  max-width: 571px;
  max-height: 161px;
}
.data .story_signature .signature_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: #555555;
  margin-bottom: 21px;
}
.data .story_signature svg {
  margin-bottom: 3px;
}

/*DATA SECTION*/
/*MENU SECTION*/
.menu {
  padding: 120px 0 140px;
}
.menu .container {
  padding: 20px 10px 0;
}
.menu .grid {
  grid-template-columns: 491px 2fr;
  grid-column-gap: 60px;
}
.menu .dishes {
  margin-top: 20px;
  max-width: 491px;
}
.menu .dishes_content {
  margin-bottom: 30px;
  padding: 0 5px 15px 0;
}
.menu .dishes_content_suptitle {
  position: relative;
  color: #292E36;
}
.menu .dishes_content_suptitle:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: #E1B168;
  top: -5px;
  left: 0;
}
.menu .dishes_content_suptitle:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background: #E1B168;
  bottom: -1px;
  left: 0;
}
.menu .dishes_content_title {
  color: #292E36;
  margin: 12px 0 13px;
}
.menu .dishes_content_desc {
  color: #555555;
}
.menu .dishes_img {
  width: 398px;
  height: 548px;
  margin-bottom: 60px;
}
.menu .dishes_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu_list {
  margin-top: 40px;
}
.menu_list .starters {
  display: grid;
  grid-row-gap: 50px;
}
.menu_list .starters .startes_title {
  margin: 14px 0 40px;
}
.menu_list .starters .menu_card.grid {
  grid-template-columns: max-content auto max-content;
  grid-column-gap: 10px;
  align-items: center;
}
.menu_list .starters .menu_card_img {
  width: 84px;
  height: 84px;
}
.menu_list .starters .menu_card_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu_list .starters .menu_card_content {
  margin: 0 10px 0 20px;
}
.menu_list .starters .menu_card_content_title {
  margin-bottom: 1px;
  font-size: 30px;
  line-height: 42px;
  color: #292E36;
}
.menu_list .starters .menu_card_price {
  align-self: center;
}
.menu_list .starters .menu_card-line {
  width: inherit;
  height: 50px;
  border-bottom: 2px solid rgba(170, 170, 170, 0.6666666667);
}
.menu .menu_list {
  display: grid;
  grid-row-gap: 15px;
}

/*MENU SECTION*/

/*# sourceMappingURL=style.css.map */
